<div class="container-fluid">
    <div class="row h-100">
        <div class="col-sm-6 my-auto text-center">
            <app-social-media></app-social-media>
        </div>
        <div class="col-sm-6 my-auto text-center">
            <app-newletter></app-newletter>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="d-flex">
        <ul class="list-inline mx-auto justify-content-center footer-nav">
            <li class="list-inline-item" routerLinkActive="active" routerLink="/impressum">Impressum</li>
            <li class="list-inline-item" routerLinkActive="active" routerLink="/press">Press</li>
        </ul>
    </div>
</div>
