<ul class="sharing-component list-inline" *ngIf="siteData">
  <li class="list-inline-item">
    <a class="px-2" href="{{siteData[pageId].bandCamp}}" target="_blank"><i class="fa fa-bandcamp fa-3x"></i></a>
  </li>
  <li class="list-inline-item">
    <a class="px-2" href="{{siteData[pageId].youtube}}" target="_blank"><i class="fa fa-youtube-play fa-3x"></i></a>
  </li>
  <li class="list-inline-item">
    <a class="px-2" href="{{siteData[pageId].facebook}}" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
  </li>
</ul>